ul.link_wraper{position:relative; display:block;  float:left; list-style:none; margin:0 10px; padding:0; text-align:center; }
.url_txt {position:absolute; z-index:10; top:3px; margin:0; padding:10px; background:#fff; box-shadow:2px 2px 7px #888; display:block;  text-align:left; font-weight:normal; border:none;}

ul.link_wraper li:hover ul li.url_txt {padding:15px 10px;  margin:7px 10px 10px 10px; font-size:12px; border: 1px solid #eee;}

ul.link_wraper li {list-style:none; margin:2px 0 0 0; padding:3px 15px 2px 15px;  line-height:normal; font-size:9px; font-family: "Verdana", Geneva, sans-serif; }

ul.link_wraper li.link_count {background: #fff; padding:18px 15px; text-align:left;  border:1px solid #ccc; border-bottom: 1px solid #bbb; width:35px; margin-top:0;}
ul.link_wraper li.link_count img {position: absolute; bottom:22px; text-align:center; z-index:10px; text-align:center; border:none; box-shadow:none;}
ul.link_wraper li.link_button {background:#3573a4; border-radius:6px; -moz-border-radius:3px; margin-top:7px; font-weight:bold;  border:1px solid #4f8fc1;  bottom:0;}
ul.link_wraper li.link_button:hover {background:#3e86bf; border:1px solid #3573a4;}

ul.link_wraper li a {margin:0; padding:0; text-decoration:none; cursor:default; color:#fff;  }
ul.link_wraper li ul li {display:none; background:#fff; }
ul.link_wraper li:hover ul li {display: block; padding:0 20px 10px 0;}